@use './base/typography';
@use './base/removeFocusBorder';
@use './base/button';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body,
html {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-image: url("../../images/hero.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}
