section#product {
  height: 100vh;
  width: 100vw;

  #focus {
    height: calc(75% - 20px);
    width: 100%;
    background-color: blue;
  }

  ul {
    display: flex;
    width: 100%;
    list-style: none;

    li {
      width: calc((100vw - 50px) / 4);
      height: 25vh;
      background-color: orange;
      margin: 10px 5px;

      &:first-child {
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 10px;
      }

      //   &:not(:last-child) {
      //     margin-right: 0;
      //   }
    }
  }
}
