@use '../abstracts/mixins';

section#product {
  height: 100vh;
  width: 100vw;

  #focus {
    height: calc(75% - 20px);
    width: 100%;
    background-color: #dbdbdb;
    position: relative;

    @include mixins.center;

    #model {
      width: 70%;
      height: 100%;
      position: relative;
    }

    #content {
      width: 30%;
      padding: 30px;
      padding-right: 60px;
      @include mixins.center;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;

      p {
        // align-self: flex-end;
      }
    }
  }

  ul {
    display: flex;
    width: 100%;
    list-style: none;

    li {
      width: calc((100vw - 50px) / 4);
      height: 25vh;
      background-color: orange;
      margin: 10px 5px;

      &:first-child {
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 10px;
      }

      div {
        height: 100%;
      }

      //   &:not(:last-child) {
      //     margin-right: 0;
      //   }
    }
  }
}
