section#product {
  height: 100vh;
  width: 100vw;
}
section#product #focus {
  height: calc(75% - 20px);
  width: 100%;
  background-color: #dbdbdb;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#product #focus #model {
  width: 70%;
  height: 100%;
  position: relative;
}
section#product #focus #content {
  width: 30%;
  padding: 30px;
  padding-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
section#product ul {
  display: flex;
  width: 100%;
  list-style: none;
}
section#product ul li {
  width: calc((100vw - 50px) / 4);
  height: 25vh;
  background-color: orange;
  margin: 10px 5px;
}
section#product ul li:first-child {
  margin-left: 10px;
}
section#product ul li:last-child {
  margin-right: 10px;
}
section#product ul li div {
  height: 100%;
}
