.discount {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.151);
}
.discount_content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-top: 8px;
  height: 120px;
  width: 200px;
  background-color: #fff;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(6px);
  border-left: none;
  color: #fff;
  box-shadow: none;
}
.discount_content h3 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 1.2em;
}
.discount_content p {
  font-size: 0.9em;
}
.discount .close {
  position: absolute;
  top: 19px;
  right: 6px;
  cursor: pointer;
}
.discount .code_container {
  position: relative;
}
.discount .code {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  letter-spacing: 5px;
  font-weight: 500;
  backdrop-filter: blur(2px) brightness(85%);
  padding: 5px;
  border-radius: 5px;
}
.discount .code p {
  margin: 0;
  color: white;
}
